

.thumbnail:hover .caption-border-bottom {
      border-bottom: 2px solid red !important;
	  }
	  
	  div.c
		{
		color:black;
		}
		div.c:hover
		{
		color: #d71402;;
		}
	div.t
		{
		color: #d71402;
		}
	div.t:hover
		{
		color: #d71402;
		}